---
const { title, description, ogImage, noIndex = false } = Astro.props;
const url = new URL(Astro.url);
---
<title>{title}</title>
<meta name="description" content={description} />
{noIndex && <meta name="robots" content="noindex,nofollow" />}
<link rel="canonical" href={url} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage ?? '/og/default.jpg'} />
<meta name="twitter:card" content="summary_large_image" />
